.la {
    text-align: left;
}

.ra {
    text-align: right;
}

#summary td, #summary th {
    padding: 0.25em 0.5em;
}

#summary th {
    text-align: left;
    font-weight: normal;
}

#sources {
    margin-top: 2em;
}

#sources td, #sources th {
    padding: 0 0.5em;
}

#sources th {
    text-align: left;
}

#main {
    display: flex;
}

#leftPanel {
    padding-right: 4em;
}