<div id="main">
<div id="leftPanel">
<h2 class="mtz">𒈨𒌍 (Me) {{tile?.name}}</h2>
<div>
    <b>Climate: </b>{{spercent((tile?.climateFactor || 1) - 1)}}<br>
    <table id="summary">
        <tr>
            <th>𒌋 (lu, people)</th>
            <td class="ra">{{this.tile?.population}}</td>
        </tr>
        <tr>
            <th>𒂍𒃲 (nam-ti, flourishing)</th>
            <td class="ra">{{flourishing}}</td>
        </tr>
        <tr>
            <th>𒍑𒋼 (šub, development)</th>
            <td class="ra">{{complexity}}</td>
        </tr>
        <tr>
            <th>𒄑𒋺𒋛 (ama-gi, freedom)</th>
            <td class="ra">{{freedom}}</td>
        </tr>
    </table>

    <table id="sources">
        <tr>
            <th>Source</th>
            <th>𒍑𒋼</th>
            <th>𒄑𒋺𒋛</th>
        </tr>
        <tr *ngFor="let s of sources">
            <td>{{s.name}}</td>
            <td class="ra">{{s.c.toFixed(1)}}</td>
            <td class="ra">{{s.f.toFixed(1)}}</td>
        </tr>
    </table>
</div>
</div>
<div id="rightPanel">
    <app-tile-ways-graphs></app-tile-ways-graphs>
</div>
</div>
