<app-tab-panel *ngIf="wvm.selectedTile">
    <app-tab-panel-item header="Summary">
       <app-tile-summary-panel></app-tile-summary-panel>
    </app-tab-panel-item>
    <app-tab-panel-item header="Ideology">
        <app-tile-ideology-panel></app-tile-ideology-panel>
    </app-tab-panel-item>
    <app-tab-panel-item header="Economy">
      <app-tile-economy-panel></app-tile-economy-panel>
    </app-tab-panel-item>
    <app-tab-panel-item header="Graphs">
        <app-economy-graphs></app-economy-graphs>
    </app-tab-panel-item>
    <app-tab-panel-item header="Military">
      Warrior society: all free men fight
    </app-tab-panel-item>
    <app-tab-panel-item header="Politics">
      Collective rank society: council of noble-born chiefs
    </app-tab-panel-item>
</app-tab-panel>