<h3>{{tile?.name}}</h3>
<div id="main">
<div id="leftPanel">
<h2 class="mtz">Population</h2>
<table id="population">
    <ng-container *ngIf="wvm.world.year > 0">
        <tr>
            <td>Population in {{formatYear(tile?.prevCensus?.year)}}</td>
            <td class="ra">{{tile?.prevCensus?.n}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Target growth rate</td>
            <td></td>
            <td class="ra">{{spercent(tile?.pop?.targetGrowthRate, 2)}}</td>
        </tr>
        <tr>
            <td>Expected death rate</td>
            <td></td>
            <td class="ra">{{spercent(tile?.pop?.expectedDeathRate, 2)}}</td>
        </tr>
        <tr *ngIf="religiousPopulationGrowthFactor != 0">
            <td>Religious factor</td>
            <td class="ra">{{spercent(religiousPopulationGrowthFactor)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Natural increase</td>
            <td class="ra">{{tile?.census?.naturalIncrease}}</td>
            <td class="ra">{{spercent((tile?.census?.naturalIncrease ?? 0) / (tile?.census?.prev ?? 1), 2)}}</td>
        </tr>
        <tr>
            <td>Raiding losses</td>
            <td class="ra">{{-(tile?.census?.raidingLosses ?? 0)}}</td>
            <td class="ra">{{spercent(-(tile?.census?.raidingLosses ?? 0) / (tile?.census?.prev ?? 1), 2)}}</td>
        </tr>
        <tr>
            <td>Total change</td>
            <td class="ra">{{tile?.census?.change}}</td>
            <td class="ra">{{spercent((tile?.census?.change ?? 0) / (tile?.census?.prev ?? 1), 2)}}</td>
        </tr>
    </ng-container>
        <tr>
            <td>Population in {{wvm.world.yearForDisplay}}</td>
            <td class="ra">{{tile?.population}}</td>
            <td></td>
        </tr>
</table>

<h3 class="mtz">People</h3>
<table id="people">
    <tr>
        <th class="la">Role</th>
        <th class="ra">Number</th>
        <th class="ra">Change</th>
        <th class="ra">Food</th>
        <th class="ra">Mood</th>
    </tr>
    <tr *ngFor="let pop of tile?.pop?.pops">
        <td>{{pop.role.name}}</td>
        <td class="ra">{{pop.n}}</td>
        <td class="ra">{{spercent((tile?.census?.change ?? 0) / (tile?.census?.prev ?? 1), 2)}}</td>
        <td class="ra">{{percent(consumptionRatio(pop))}}</td>
        <td class="ra">{{flourishing(pop)}}</td>
    </tr>
</table>

<h3 class="mtz">Settlements</h3>
<div>
{{tile?.settlementsDescription}}
</div>
</div>
<div id="rightPanel">
    <app-tile-pop-graphs></app-tile-pop-graphs>
</div>
</div>
