.map .row {
    display: flex;
}

.map .row .tile {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: flex-end;
}
  