.row {
    display: flex;
}

.tile {
    width: 80px;
    height: 80px;
    border-top: 3px solid #461;
    border-left: 3px solid #461;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: flex-end;
}

.tile.tbt {
    border-top: 3px dashed #ddd;
}
.tile.tbb {
    border-bottom: 3px dashed #ddd;
}
.tile.tbl {
    border-left: 3px dashed #ddd;
}
.tile.tbr {
    border-right: 3px dashed #ddd;
}