<button (click)="nextTurn()" class="step-forward-btn vbreakafter">&#x25B6;</button>

<div>Year: {{world.year}}</div>
<div class="vbreakafter">World Population: {{world.population}}/{{world.capacity}}</div>
<table>
    <tr>
        <td>Pop Rank</td>
        <td>City</td>
        <td>Strat</td>
        <td>Vassals</td>
        <td>Vassal Pop</td>       
    </tr>
    <tr *ngFor="let p of world.getRankedPolities(); let i = index">
        <td>{{i+1}}</td>
        <td>{{p.name}}</td>
        <td>{{p.brain.tag}}</td>
        <td>{{p.vassals.size}}</td>
        <td>{{p.vassalPopulation}}</td>
    </tr>
</table>