<div class="advance-panel vbreakafter">
    <button (click)="advance()" class="step-forward-btn">&#x25B6;</button>
    {{world.advanceStateDisplay}}
</div>
<div>{{4000 - world.year}} BC</div>
<div class="vbreakafter">World Population: {{world.population}}/{{world.capacity}}</div>
<table>
    <tr>
        <td>Pop Rank</td>
        <td>Change</td>
        <td>City</td>
        <td>Strat</td>
        <td>Suz</td>
        <td>Vassals</td>
        <td>Vassal Pop</td>
        <td>Legacy</td>  
    </tr>
    <tr *ngFor="let p of world.getRankedPolities(); let i = index">
        <td>{{i+1}}</td>
        <td>{{rankChangeDisplay(p)}}</td>
        <td>{{p.name}}</td>
        <td>{{p.brain.tag}}</td>
        <td>{{p.suzerain ? p.suzerain.name : ''}}</td>
        <td>{{p.vassals.size}}</td>
        <td>{{p.vassalPopulation}}</td>
        <td>{{legacyDisplay(p)}}</td>
    </tr>
</table>