.i2 {
    padding-left: 2ex;
}

.ra {
    text-align: right;
}

.flex {
    display: flex;
    align-items: center;
    gap: 2em;
}

#main {
    display: flex;
    gap: 2em;
}

.exchanges td {
    padding: 0 0.5em
}

th:first-child {
    text-align: left;
}

th:not(first-child) {
    text-align: right;
}