<table>
    <tr>
        <td>#</td>
        <td>Δ</td>
        <td>City</td>
        <td>Str</td>
        <td>Pop</td>
        <td>Suz</td>
        <td>Vassals</td>
        <td>CA</td>
        <td>VPop</td>
        <td>AP</td>
        <td>DP</td>
        <td>Legacy</td>  
    </tr>
    <tr *ngFor="let p of world.getRankedPolities(); let i = index">
        <td>{{i+1}}</td>
        <td>{{rankChangeDisplay(p)}}</td>
        <td>{{p.name}}</td>
        <td>{{p.brain.tag}}</td>
        <td>{{p.home.population}}</td>
        <td>{{p.suzerain ? p.suzerain.name : ''}}</td>
        <td>{{p.vassals.size}}</td>
        <td>{{p.counterAllianceDisplay}}</td>
        <td>{{p.vassalPopulation}}</td>
        <td>{{floor(p.vassalAP/100)}}</td>
        <td>{{floor(p.vassalDP/100)}}</td>
        <td>{{legacyDisplay(p)}}</td>
    </tr>
</table>