<h3>New Economy</h3>

<h4>Processes</h4>

<table>
    <tr>
        <th class="la">Name</th>
        <th colspan="2">Workers</th>
        <th colspan="2">Land</th>
        <th>Mods</th>
        <th colspan="2">Output</th>
        <th class="ra">APK</th>
        <th class="ra">MPK</th>
        <th class="ra">APL</th>
        <th class="ra">MPL</th>
    </tr>
    <tr *ngFor="let p of processTable">
        <td>{{p.name}}</td>
        <td class="ra">{{p.workers}}</td>
        <td>{{p.workerName}}</td>
        <td class="ra">{{p.terrainAcres}}</td>
        <td>{{p.terrainName}}</td>
        <td class="ra ttc">
            {{spercent(p.outputDetails.mods.value)}}
            <div class="tooltip" [innerHTML]="p.outputDetails.mods.tooltip"></div>
        </td>
        <td class="ra">{{p.output}}</td>
        <td>{{p.outputName}}</td>
        <td class="ra">{{p.outputDetails.apk.toFixed(2)}}</td>
        <td class="ra">{{p.outputDetails.mpk.toFixed(2)}}</td>
        <td class="ra">{{p.outputDetails.apl.toFixed(2)}}</td>
        <td class="ra">{{p.outputDetails.mpl.toFixed(2)}}</td>
    </tr>
</table>

<p>
<b>Unemployed: </b>{{tile?.economy?.unemployed}}<br>
</p>

<div *ngIf="tile">
    <div class="flex">
        <div>
            <h3>Tile Modifiers</h3>
            <table id="mods-table">
                <tr *ngFor="let m of mods">
                    <td>{{m[0]}}</td>
                    <td class="ra">{{round(m[1].value, 2)}}</td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Workers</h3>
            <table>
                <ng-container *ngFor="let g of workerGroups">
                    <tr *ngFor="let a of g.allocs; let i = index">
                        <td *ngIf="i === 0" [attr.rowspan]="g.allocs.length" class="ra">
                            {{g.workers}}
                        </td>
                        <td *ngIf="i === 0" [attr.rowspan]="g.allocs.length">
                            {{g.role.name}}
                        </td>
                        <td class="ra">{{percent(a.fraction)}}</td>
                        <td>{{a.process.name}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
        <div>
            <h3>Land</h3>
            <button (click)="allocLand()">Opt</button>
            <table>
                <ng-container *ngFor="let g of landGroups">
                    <tr *ngFor="let a of g.allocs; let i = index">
                        <td *ngIf="i === 0" [attr.rowspan]="g.allocs.length" class="ra">
                            {{percent(g.fractionOfTile)}}
                        </td>
                        <td *ngIf="i === 0" [attr.rowspan]="g.allocs.length">
                            {{g.terrain.name}}
                        </td>
                        <td class="ra">{{percent(a.fraction)}}</td>
                        <td>{{a.process.name}}</td>
                    </tr>        
                </ng-container>
            </table>
        </div>
    </div>
    <h3>Processes</h3>
    <table>
        <tr>
            <th colspan="2">Land</th>
            <th colspan="2">Workers</th>
            <th>L/W</th>
            <th>Mod</th>
            <th colspan="2">Output</th>
            <th>APK</th>
            <th>MPK</th>
            <th>MUK</th>
            <th>APL</th>
            <th>MPL</th>
            <th>MUL</th>
        </tr>
        <tr *ngFor="let p of tile.prod.processes">
            <td class="ra">{{p.acresDisplay}}</td>
            <td>{{p.terrainDisplay}}</td>
            <td class="ra">{{p.workers}}</td>
            <td class="ra">{{p.roleName}}</td>
            <td class="ra">{{p.acresPerWorkerDisplay}}</td>
            <td class="ra ttc">
                {{spercent(p.outputFactor.value)}}
                <div class="tooltip" [innerHTML]="p.outputFactor.tooltip"></div>
            </td>
            <td class="ra">{{p.outputDisplay}}</td>
            <td>{{p.productDisplay}}</td>
            <td class="ra">{{p.apk === 0 ? '': p.apk.toFixed(3)}}</td>
            <td class="ra">{{p.mpk === 0 ? '': p.mpk.toFixed(3)}}</td>
            <td class="ra">{{p.muk(tile.prod.consumption) === 0 ? '': p.muk(tile.prod.consumption).toFixed(3)}}</td>
            <td class="ra">{{p.apl === 0 ? '': p.apl.toFixed(1)}}</td>
            <td class="ra">{{p.mpl === 0 ? '': p.mpl.toFixed(1)}}</td>
            <td class="ra">{{p.mul(tile.prod.consumption) === 0 ? '': p.mul(tile.prod.consumption).toFixed(1)}}</td>
        </tr>
    </table>
    <div class="flex">
    <div>
        <h3>Consumption</h3>
        <ng-container *ngFor="let p of tile.pop.pops">
            <h4>{{p.role.name}}</h4>
            <table class="vbreakafter">
                <tr>
                    <th class="la">Product</th>
                    <th class="ra">Amount</th>
                    <th class="ra">MU</th>
                </tr>
                <tr *ngFor="let r of consumptionRows(p)">
                    <td>{{r.name}}</td>
                    <td class="ra">{{r.amount.toFixed(0)}}</td>
                    <td class="ra">{{r.marginalUtility.toFixed(0)}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Food quantity</td>
                    <td class="ra">{{floor(p.consumption.nutrition.amount)}}</td>
                </tr>
                <tr>
                    <td>Protein</td>
                    <td class="ra">{{percent(p.consumption.nutrition.proteinFactor)}}</td>
                    <td class="ra">({{percent(p.consumption.nutrition.proteinRatio)}} protein)</td>
                </tr>
                <tr>
                    <td>Food value</td>
                    <td class="ra">{{floor(p.consumption.nutrition.value)}}</td>
                </tr>
            </table>
        </ng-container>
    </div>
    <div id="main">
        <div id="submain">
            <div id="leftPanel">
                <div class="flex">
                    <h2 class="mtz trade-links">Trade Links</h2>
                    <button (click)="updateTradeLinks()">Update</button>
                </div>
                <ng-container *ngFor="let l of tile.market.links">
                    <ng-container *ngIf="l.isActive">
                        <h3>{{l.dst.controller.name}}</h3>
                        <table class="exchanges">
                            <tr>
                                <th colspan="2">Send</th>
                                <th colspan="2">Receive Gross</th>
                                <th>Ratio</th>
                                <th colspan="2">Cost</th>
                                <th>Receive Net</th>
                            </tr>
                            <tr *ngFor="let e of l.exchanges">
                                <td class="ra">{{e[0].gross.toFixed(0)}}</td>
                                <td>{{e[0].product.name}}</td>
                                <td class="ra">{{e[1].gross.toFixed(0)}}</td>
                                <td>{{e[1].product.name}}</td>
                                <td class="ra">1 : {{(e[1].gross/e[0].gross).toFixed(2)}}</td>
                                <td class="ra">{{(e[1].gross - e[1].net).toFixed(0)}}</td>
                                <td class="ra">({{percent(l.cost(e[1].product))}})</td>
                                <td class="ra">{{e[1].net.toFixed(0)}}</td>
                             </tr>
                        </table>
                    </ng-container>
                </ng-container>
            </div>


            <div id="rightPanel">
                <h2>Transfers</h2>
                <ng-container *ngFor="let p of tile.pop.pops">
                    <h4>{{p.role.name}}</h4>
                    <table class="vbreakafter">
                        <tr>
                            <th class="la">Product</th>
                            <th class="ra">Amount</th>
                        </tr>
                        <tr *ngFor="let r of transferRows(p)">
                            <td>{{r.name}}</td>
                            <td class="ra">{{r.amount.toFixed(0)}}</td>
                        </tr>
                    </table>
                </ng-container>
            </div>
        </div>
    </div>
</div>