<div *ngIf="tile">
    <h2>New Production Code</h2>
    <h3>Tile Modifiers</h3>
    <table>
        <tr *ngFor="let m of mods">
            <td>{{m[0]}}</td>
            <td class="ra">{{m[1].value}}</td>
        </tr>
    </table>
    <h3>Workers</h3>
    <table>
        <tr *ngFor="let r of workerRows">
            <td>{{r.process.name}}</td>
            <td class="ra">{{percent(r.fraction)}}</td>
        </tr>
    </table>
    <h3>Land</h3>
    <table>
        <ng-container *ngFor="let g of landGroups">
            <tr *ngFor="let a of g.allocs; let i = index">
                <td *ngIf="i === 0" [attr.rowspan]="g.allocs.length" class="ra">
                    {{percent(g.fractionOfTile)}}
                </td>
                <td *ngIf="i === 0" [attr.rowspan]="g.allocs.length">
                    {{g.terrain.name}}
                </td>
                <td class="ra">{{percent(a.fraction)}}</td>
                <td>{{a.process.name}}</td>
            </tr>        
        </ng-container>
    </table>
    <h3>Processes</h3>
    <table>
        <tr>
            <th colspan="2">Land</th>
            <th>Workers</th>
            <th>L/W</th>
            <th>Mod</th>
            <th colspan="2">Output</th>
            <th>APK</th>
            <th>MPK</th>
            <th>APL</th>
            <th>MPL</th>
        </tr>
        <tr *ngFor="let p of tile.prod.processes">
            <td class="ra">{{p.acresDisplay}}</td>
            <td>{{p.terrainDisplay}}</td>
            <td class="ra">{{p.workers}}</td>
            <td class="ra">{{p.acresPerWorkerDisplay}}</td>
            <td class="ra ttc">
                {{spercent(p.outputFactor.value)}}
                <div class="tooltip" [innerHTML]="p.outputFactor.tooltip"></div>
            </td>
            <td class="ra">{{p.outputDisplay}}</td>
            <td>{{p.productDisplay}}</td>
            <td class="ra">{{p.apk === 0 ? '': p.apk.toFixed(3)}}</td>
            <td class="ra">{{p.mpk === 0 ? '': p.mpk.toFixed(3)}} / {{p.mpk2.toFixed(3)}}</td>
            <td class="ra">{{p.apl === 0 ? '': p.apl.toFixed(1)}}</td>
            <td class="ra">{{p.mpl === 0 ? '': p.mpl.toFixed(1)}} / {{p.mpl2.toFixed(2)}}</td>
        </tr>
    </table>
    <h3>Consumption</h3>
    <table>
        <tr>
            <th class="la">Product</th>
            <th class="ra">Amount</th>
            <th class="ra">Marginal Value</th>
        </tr>
        <tr *ngFor="let r of consumptionRows">
            <td>{{r.name}}</td>
            <td class="ra">{{r.amount.toFixed(0)}}</td>
            <td class="ra">{{r.marginalUtility.toFixed(0)}}</td>
        </tr>
    </table>
    <h3>Nutrition</h3>
    <table>
        <tr>
            <td>Food quantity</td>
            <td class="ra">{{floor(tile.prod.nutrition.amount)}}</td>
        </tr>
        <tr>
            <td>Nutritional value</td>
            <td class="ra">{{floor(tile.prod.nutrition.value)}}</td>
        </tr>
    </table>
    <div id="main">
        <div>
            <div class="flex">
                <h2 class="mtz">Allocations</h2>
                <button (click)="optimize()">Opt</button>
                <button (click)="optimizeLaborOneStep()">Step</button>
            </div>
            <table>
                <tr>
                    <th class="la">Tech</th>
                    <th>Boost</th>
                    <th class="la">Terrain</th>
                    <th>A</th>
                    <th>%A</th>
                    <th>Ppl</th>
                    <th>%Ppl</th>
                    <th>Product</th>
                    <th>Base</th>
                    <th>Temple</th>
                    <th>Output</th>
                    <th>MPK</th>
                    <th>MPL</th>
                    <th>MUK</th>
                    <th>MUL</th>
                </tr>
                <tr *ngFor="let a of allocs">
                    <td>{{a.tech.name}}</td>
                    <td class="ra">{{a.tech.inputBoost}}</td>
                    <td>{{a.terrain.name}}</td>
                    <td class="ra">{{floor(a.landUnits)}}</td>
                    <td class="ra">{{floor(a.landFraction * tile.areaFraction(a.terrain) * 100)}}%</td>
                    <td class="ra">{{floor(a.laborFraction * a.tile.population)}}</td>
                    <td class="ra">{{floor(a.laborFraction * 100)}}%</td>
                    <td class="ra">{{a.product.name}}</td>
                    <td class="ra">{{floor(a.production() / tile.outputFactor(a.product).value)}}</td>
                    <td class="ra">{{tile.outputFactor(a.product).value.toFixed(2)}}</td>
                    <td class="ra">{{floor(a.production())}}</td>
                    <td class="ra">{{marginalProductsOfLand?.get(a)?.toFixed(2)}}</td>
                    <td class="ra">{{marginalProductsOfLabor?.get(a)?.toFixed(2)}}</td>
                    <td class="ra">{{marginalUtilitiesOfLand?.get(a)?.toFixed(2)}}</td>
                    <td class="ra">{{marginalUtilitiesOfLabor?.get(a)?.toFixed(2)}}</td>
                </tr>
            </table>
        </div>
    
        <div id="submain">
            <div id="leftPanel">
                <div class="flex">
                    <h2 class="mtz trade-links">Trade Links</h2>
                    <button (click)="updateTradeLinks()">Update</button>
                </div>
                <ng-container *ngFor="let l of tile.market.links">
                    <ng-container *ngIf="l.isActive">
                        <h3>{{l.dst.controller.name}}</h3>
                        <table class="exchanges">
                            <tr>
                                <th colspan="2">Send</th>
                                <th colspan="2">Receive Gross</th>
                                <th>Ratio</th>
                                <th colspan="2">Cost</th>
                                <th>Receive Net</th>
                            </tr>
                            <tr *ngFor="let e of l.exchanges">
                                <td class="ra">{{e[0].gross.toFixed(0)}}</td>
                                <td>{{e[0].product.name}}</td>
                                <td class="ra">{{e[1].gross.toFixed(0)}}</td>
                                <td>{{e[1].product.name}}</td>
                                <td class="ra">1 : {{(e[1].gross/e[0].gross).toFixed(2)}}</td>
                                <td class="ra">{{(e[1].gross - e[1].net).toFixed(0)}}</td>
                                <td class="ra">({{percent(l.cost(e[1].product))}})</td>
                                <td class="ra">{{e[1].net.toFixed(0)}}</td>
                             </tr>
                        </table>
                    </ng-container>
                </ng-container>
            </div>


            <div id="midPanel">
                <h2 class="mtz">Consumption</h2>
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Amount</th>
                    </tr>
                    <tr *ngFor="let e of tile.consumption.entries()">
                        <td>{{e[0].name}}</td>
                        <td class="ra">{{floor(e[1])}}</td>
                    </tr>
                </table>
            </div>

            <div id="rightPanel">
                <h2>Utility</h2>
                <table>
                    <tr>
                        <td>Total Produce</td>
                        <td class="ra">{{floor(totalProduction)}}</td>
                    </tr>
                    <tr>
                        <td>Nutritional Quality</td>
                        <td class="ra">x {{round(nutritionalQuality, 2)}}</td>
                    </tr>
                    <tr>
                        <td>Population Capacity</td>
                        <td class="ra">= {{floor(capacity)}}</td>
                    </tr>
                    <tr>
                        <td>Nutrition</td>
                        <td class="ra">{{round((capacity || 0) / (population || 1), 2)}}</td>
                    </tr>
                    <tr>
                        <td>(Before Trade)</td>
                        <td class="ra">= {{floor(preTradeCapacity)}}</td>
                    </tr>
                    <tr>
                        <td>(Gains From Trade)</td>
                        <td class="ra">= {{percent(((capacity ?? 0) - (preTradeCapacity ?? 0)) / (preTradeCapacity ?? 0))}}</td>
                    </tr>
                </table>
                <h3>Marginal Utility</h3>
                <table>
                    <tr *ngFor="let e of marginalCapacity.entries()">
                        <td>{{e[0].name}}</td>
                        <td class="ra">{{round(e[1], 2)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>