.i2 {
    padding-left: 2ex;
}

.la {
    text-align: left;
}

.ra {
    text-align: right;
}

.flex {
    display: flex;
    align-items: center;
    gap: 2em;
}

#submain {
    display: flex;
    gap: 2em;
}

h2.trade-links {
    margin-bottom: 0.5em;
}

h3 {
    margin: 0.5em 0;
}

tr:not(:first-of-type) .fponly {
    display: none;
}

.exchanges td {
    padding: 0 0.5em;
}

td, th {
    padding: 0 0.25em;
}
