<div id="main">
<div id="leftPanel">
<h2 class="mtz">𒈨𒌍 (Me) {{tile?.name}}</h2>
<div>
    <table>
        <tr>
            <th>𒌋 (lu, people)</th>
            <td class="ra">{{this.tile?.population}}</td>
        </tr>
        <tr>
            <th>𒂍𒃲 (nam-ti, flourishing)</th>
            <td class="ra">{{flourishing}}</td>
        </tr>
        <tr>
            <th>𒍑𒋼 (šub, development)</th>
            <td class="ra">{{complexity}}</td>
        </tr>
        <tr>
            <th>𒄑𒋺𒋛 (ama-gi, freedom)</th>
            <td class="ra">{{freedom}}</td>
        </tr>
    </table>
</div>
</div>
<div id="rightPanel">
    <app-tile-ways-graphs></app-tile-ways-graphs>
</div>
</div>
