.la {
    text-align: left;
}

.ra {
    text-align: right;
}

td, th {
    padding: 0.25em 0.5em;
}

th {
    text-align: left;
    font-weight: normal;
}

#main {
    display: flex;
}

#leftPanel {
    padding-right: 4em;
}