<app-tab-panel *ngIf="wvm.selectedTile">
    <app-tab-panel-item header="People">
        <app-tile-population-panel></app-tile-population-panel>
    </app-tab-panel-item>
    <app-tab-panel-item header="Summary">
        <app-tile-summary-panel></app-tile-summary-panel>
    </app-tab-panel-item>
    <app-tab-panel-item header="Society">
        <app-tile-ideology-panel></app-tile-ideology-panel>
    </app-tab-panel-item>
    <app-tab-panel-item header="Economy">
      <app-tile-economy-panel></app-tile-economy-panel>
    </app-tab-panel-item>
    <app-tab-panel-item header="Graphs">
        <app-economy-graphs></app-economy-graphs>
    </app-tab-panel-item>
    <app-tab-panel-item header="Military">
        <app-tile-military-panel></app-tile-military-panel>
    </app-tab-panel-item>
    <app-tab-panel-item header="Politics">
      <app-tile-politics-panel></app-tile-politics-panel>
    </app-tab-panel-item>
</app-tab-panel>